  body { 
  	     margin:0; 
  	     padding:0; 
  	 }
  #map { 
  	     position:absolute; 
  	     top:0; 
  	     bottom:0; 
  	     width:100%; 
  	 }
  #timeseries{
  	        position: absolute;
            bottom: 0;
            width:100%;
            height: 200px;
            background-color: rgba(0,0,0,0);
       } 	 
